{% extends 'FdaDsbBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            user
        </div>
        <div class="panel-body">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            player
        </div>
        <div class="panel-body">
            {{ form_start(playerForm, { 'action': path('fos_user_profile_edit') }) }}
            {{ form_widget(playerForm) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            {{ form_end(playerForm) }}
        </div>
    </div>
{% endblock content %}