{% extends 'FdaRefereeBundle::layout.html.twig' %}

{% block content -%}
    <h1>Game:play</h1>

    <div class="row">
        <div class="col-sm-5 col-xs-6 text-center">
            <div class="panel panel-default {{ turn.player.id == game.player1.id ? 'panel-primary' : '' }}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ player_label(game.player1) }}
                        </div>
                        <div class="col-xs-2">
                            -{{ leg_gears.remainingScoreOf(game.player1) }}
                            <br>
                            {{ leg_gears.finishingMovesOf(game.player1)|length }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 hidden-xs text-center">
            vs
        </div>
        <div class="col-sm-5 col-xs-6 text-center">
            <div class="panel panel-default {{ turn.player.id == game.player2.id ? 'panel-primary' : '' }}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ player_label(game.player2) }}
                        </div>
                        <div class="col-xs-2">
                            -{{ leg_gears.remainingScoreOf(game.player2) }}
                            <br>
                            {{ leg_gears.finishingMovesOf(game.player1)|length }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>
        remaining: {{ leg_gears.remainingShots }},
        need: {{ leg_gears.finishingMovesOf(turn.player)|length }}:
        {% for arrow in leg_gears.finishingMovesOf(turn.player) %}
            {{ arrow }},
        {% endfor %}
    </h2>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            {% include 'FdaRefereeBundle:Game:_controls.html.twig' %}
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            {% include 'FdaRefereeBundle:Game:_progress.html.twig' %}
        </div>
    </div>
{% endblock %}
