{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block title %}FDA-DSB{% endblock title %}

{% block container %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('fda_dsb_homepage') }}">
                FDA-DSB
            </a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('FdaDsbBundle:Builder:mainMenu') }}
            {{ mopa_bootstrap_menu('FdaDsbBundle:Builder:loginMenu') }}
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock container %}

{% block head_style %}
    {% stylesheets '@FdaDsbBundle/Resources/public/less/layout.less' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {% javascripts 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block foot_script_assetic %}
    {{ parent() }}

    {% javascripts
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock foot_script_assetic %}
