{% extends 'FdaBoardBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('board_edit', { 'id': entity.id }) }}">
                <i class="fa fa-edit"></i>
                {{'board.edit'|trans}}
            </a>
        {% endif %}
        {{ board_label(board) }}
    </h1>

    {{'tournament.plural'|trans}}: {{ board.tournaments|length }}
    <br>
    {{'game.plural'|trans}}: {{ board.games|length }}
{% endblock %}
