{% extends 'FdaRefereeBundle::layout.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-beer"></i> {{ tournament_engine().tournament.name }},
                    {{'round.n'|trans({'%n%':tournament_engine().currentRoundNumber})}}
                </div>
                <div class="panel-body">
                    {{ board_label(ledger().board) }}
                    <a href="{{ path('ledger_choose_board') }}" class="pull-right">
                        <i class="fa fa-exchange"></i>
                    </a>
                </div>
                <div class="panel-body">
                    {{ player_label(ledger().owner) }}
                </div>
            </div>
        </div>
        {% if tournament_engine().isTournamentCompleted %}
            <div class="col-md-4">
                <div class="alert alert-danger">this tournament is OVER</div>
            </div>
        {% else %}
            {% set currentRoundGears = tournament_engine().currentRoundGears %}
            {#{% set width = 12 / currentRoundGears.gameGearsGrouped|length + 1 %}#}
            {% set width = 4 %}
            {% for groupNumber,gameGears in currentRoundGears.gameGearsGrouped|reverse %}
                <div class="col-md-{{ width }}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{'group.n'|trans({'%n%':groupNumber+1})}}
                        </div>
                        <ul class="list-group">
                            {% for gears in gameGears %}
                                <li class="list-group-item">
                                    {% if not gears.game.isClosed %}<a href="{{ path('game_play',{gameId:gears.game.id}) }}">{% endif %}
                                    {{ player_label(gears.game.player1,{size:'text'}) }} vs {{ player_label(gears.game.player2,{size:'text'}) }}
                                    {% if not gears.game.isClosed %}</a>{% endif %}
                                    {% if gears.game.isClosed %}
                                        <span class="badge">DONE</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="alert alert-danger">NO GROUPS / GAME GEARS</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
