{% if tournament is not null %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path('tournament_show',{id:tournament.id}) }}">
            <i class="fa fa-play"></i>
            {{ 'tournament.active.label'|trans }}
            {% if not tournament.name is empty %}
                : {{ tournament.name }}
            {% endif %}
        </a>
    </div>
    <div class="panel-body">
        {% include 'FdaTournamentBundle:Tournament:_properties.html.twig' %}
    </div>
</div>
{% else %}
    <div class="well">
        {{ 'tournament.active.none'|trans }}
        {% if is_granted('ROLE_ADMIN') %}
            <hr>
            <a href="{{ path('tournament_new') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i> {{ 'tournament.new'|trans }}
            </a>
        {% endif %}
    </div>
{% endif %}