{% extends 'FdaTournamentBundle::layout.html.twig' %}

{% block content -%}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}" class="pull-right">
            <i class="fa fa-edit"></i>
            {{'tournament.edit'|trans}}
        </a>
    {% endif %}
    <h1>
        {{ tournament_label(tournament) }}
        <small>
            {% if tournament.isClosed %}
                {{'tournament.closed.label'|trans}}
            {% else %}
                {{'tournament.open.label'|trans}}
            {% endif %}
        </small>
    </h1>

    {% include 'FdaTournamentBundle:_Setup:tournament.html.twig' %}
{% endblock %}

