{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1><i class="fa fa-plus"></i> {{'tournament.new'|trans}}</h1>
    {% include 'FdaDsbBundle:_Form:formflow_stepList.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    {% include 'FdaDsbBundle:_Form:formflow_buttons.html.twig' %}
    {{ form_end(form) }}
{% endblock %}
