{% extends 'FdaTournamentBundle::layout.html.twig' %}

{% block content -%}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('tournament_close', { 'id': tournament.id }) }}" class="pull-right">
            <i class="fa fa-stop"></i>
            {{'tournament.close'|trans}}
        </a>
        <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}" class="pull-right">
            <i class="fa fa-edit"></i>
            {{'tournament.edit'|trans}}
        </a>
    {% endif %}
    <h1>
        {{ tournament_label(tournament) }}
        <small>
            {% if tournament.isClosed %}
                {{'tournament.closed.label'|trans}}
            {% else %}
                {{'tournament.open.label'|trans}}
            {% endif %}
        </small>
    </h1>

    {% if tournament_engine().isTournamentCompleted %}
        {% set roundGears = tournament_engine().lastRoundGears %}
        <div class="alert alert-danger">{{'tournament.status.completed'|trans}}</div>
    {% else %}
        {% set roundGears = tournament_engine().currentRoundGears %}
    {% endif %}

    {% include 'FdaTournamentBundle:Tournament:_round.html.twig' with {
        roundGears: roundGears,
        recursive: true
    } %}
{% endblock %}
