{% extends 'FdaTournamentBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}" class="pull-right">
                <i class="fa fa-edit"></i>
                {{'tournament.edit'|trans}}
            </a>
        {% endif %}
        {{ tournament_label(tournament) }}
        <small>
            {% if tournament.isClosed %}
                {{'tournament.closed.label'|trans}}
            {% else %}
                {{'tournament.open.label'|trans}}
            {% endif %}
        </small>
    </h1>

    {# FIXME this always shows the active tournament, not the selected (see request) #}
    {% include 'FdaTournamentBundle:Tournament:_round.html.twig' with {
        roundGears: tournament_engine().currentRoundGears,
        recursive: true
    } %}
{% endblock %}
