{% extends 'FdaTournamentBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}" class="pull-right">
                <i class="fa fa-edit"></i>
                {{'tournament.edit'|trans}}
            </a>
        {% endif %}
        {{ tournament_label(tournament) }}
        <small>
            {% if tournament.isClosed %}
                {{'tournament.closed.label'|trans}}
            {% else %}
                {{'tournament.open.label'|trans}}
            {% endif %}
        </small>
    </h1>

    {# FIXME this always shows the active tournament, not the selected (see request) #}
    <div class="row">
        {% set roundNumber = tournament_engine().currentRoundNumber %}
        <div class="col-md-12">
            <h1>round {{ roundNumber }}</h1>
        </div>

        {% set roundGears = tournament_engine().currentRoundGears %}
        {% set leaderBoard = roundGears.leaderBoard %}
        {% set width = 12 / leaderBoard.groupNumbers|length %}
        {% for groupNumber,entries in leaderBoard.entries %}
            <div class="col-md-{{ width }}">
                <div class="panel panel-default">
                    <div class="panel-heading">group {{ groupNumber }}</div>
                    <table class="table">
                        <tbody>
                        {% for entry in entries %}
                            <tr>
                                <td>{{ loop.index }}{{ entry.isFinal ? '' : '*' }}</td>
                                <td>{{ player_label(entry.player) }}</td>
                                <td>{{ entry.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            BOOOM!
        {% endfor %}

        {% if roundGears.hasPreviousRoundGears %}
            <div class="col-md-12"><strong>could show more rounds...</strong></div>
        {% else %}
            <div class="col-md-12"><strong>NO more rounds...</strong></div>
        {% endif %}
    </div>
{% endblock %}
