{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ player_label(player) }}</h1>

    <table class="table">
        <tr>
            <th>{{ 'player.tournament.participate.count'|trans }}</th>
            <td>{{ player.tournaments|length }}</td>
        </tr>
        <tr>
            <th>{{ 'player.game.referred.count'|trans }}</th>
            <td>{{ player.gamesReferred|length }}</td>
        </tr>
        <tr>
            <th>{{ 'player.game.played.count'|trans }}</th>
            <td>{{ player.games|length }}</td>
        </tr>
        <tr>
            <th>{{ 'player.game.won.count'|trans }}</th>
            <td>{{ player.wonGames|length }}</td>
        </tr>
        <tr>
            <th>{{ 'player.leg.won.count'|trans }}</th>
            <td>{{ player.wonLegs|length }}</td>
        </tr>
        <tr>
            <th>{{ 'player.turn.count'|trans }}</th>
            <td>{{ player.turns|length }}</td>
        </tr>
    </table>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ player.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('player') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('player_edit', { 'id': player.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
