{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {{ tournament_link(game.tournament) }}
        :
        {{ player_label(game.player1) }}
        vs
        {{ player_label(game.player2) }}
    </h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{{'game.referee.label'|trans}}</dt>
                <dd>{{ game.referee ? player_link(game.referee) : '-' }}</dd>

                <dt>{{'game.board.label'|trans}}</dt>
                <dd>{{ game.board ? board_link(game.board) : '-' }}</dd>
            </dl>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>total</th>
                    <th>{{ player_label(game.player1) }}</th>
                    <th>{{ player_label(game.player2) }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{'leg.plural'|trans}}</th>
                        <td>{{ game.legs|length }}</td>
                        <td>{{ game.legsWonPlayer1 }}</td>
                        <td>{{ game.legsWonPlayer2 }}</td>
                    </tr>
                </tbody>
            </table>

            <br><br>
            <hr>
            game show
            <br>

            {% if game.isClosed %}
                CLOSED
            {% elseif game.isStarted %}
                STARTED
            {% else %}
                NOT STARTED
            {% endif %}
            <br>

            tournament <br>
            board <br>
            referee <br>
            player1 <br>
            player2 <br>
            legs played, won 1, won 2 <br>
            winner? <br>
        </div>
        <div class="col-md-6">
            {% include 'FdaRefereeBundle:Game:_progress.html.twig' %}
        </div>
    </div>
{% endblock %}
