{% extends 'FdaPlayerBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {{ tournament_link(game.tournament) }}
        :
        {{ player_label(game.player1) }}
        vs
        {{ player_label(game.player2) }}
    </h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{{'game.referee.label'|trans}}</dt>
                {#<dd>{{ player_link(game.referee) }}</dd>#}

                <dt>{{'game.board.label'|trans}}</dt>
                {#<dd>{{ board_link(game.board) }}</dd>#}
            </dl>

            <br><br>
            <hr>
            game show
            <br>

            {% if game.isClosed %}
                CLOSED
            {% elseif game.isStarted %}
                STARTED
            {% else %}
                NOT STARTED
            {% endif %}
            <br>

            tournament <br>
            board <br>
            referee <br>
            player1 <br>
            player2 <br>
            legs played, won 1, won 2 <br>
            winner? <br>
        </div>
        <div class="col-md-6">
            {% include 'FdaRefereeBundle:Game:_progress.html.twig' %}
        </div>
    </div>
{% endblock %}
